body {
	/*background:#3498DB;*/
}


.box {
    position:relative;
    width:280px;
    height:200px;
    overflow:hidden;
    float:left;
    margin-right:20px;
    background-color:rgba(0,0,0,0.8);
    list-style:none;
    left:calc(50% - 140px);
    
}
.box p,.box h2 {
    color:#fff;
    padding:10px;
    left:-20px;
    top:20px;
    position:relative;
}
.box p {
    font-family:'Lato';
    font-size:12px;
    line-height:18px;
    margin:0;
}
.box h2 {
    font-size:20px;
    line-height:24px;
    margin:0;
    font-family:'Lato';
}
.eff img {
    position:absolute;
    left:0;
    bottom:0;
    cursor:pointer;
    margin: 0;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
    width:280px;
    height:200px;
}
.eff img.topimg:hover {
    bottom:-5px;
    left:-5px;
    padding-right:50px;
    padding-top:75px;
    opacity:1.0;
    filter:brightness(200%);
}
h2.zero,p.zero {
    margin:0;
    padding:0;
    font-family:arial;
    text-align:center;
}
.desc {
    position:relative;
    width:280px;
    height:80px;
    overflow:hidden;
    float:left;
    margin-right:20px;
    background-color:rgba(26,76,110,0.5);
    list-style:none;
    left:calc(50% - 140px);
    text-align:center;
    color:white;
}
#home_button {
    width:126px;
    height:40px;
    cursor:pointer;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
    float:right;
    position:fixed;
    bottom:10px;
    right:10px;
    z-index:99;
    opacity:1.0;
}
#home_button:hover {
    opacity:1.0;
}


.clr {
    clear:both;
}


.container {
    min-height:100vh;
}
.col-xs-6 {
    
}
